<div class="modal-backdrop">
    <div class="modal">
        <div class="title" [innerHtml]="title"></div>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>

    <!-- <div class="modal">
        <div class="title">
            Recibo de pagamento
        </div>

        <div class="content">
            O pagamento foi concluido com sucesso.<br />
            O pagamento <strong>não</strong> foi concluido com sucesso.
        </div>
    </div> -->
</div>